#bottone1 {
    font-size: large;
    background-color: white;
    color:aqua
}
#bottone2 {
    font-size: large;
    background-color: white;
    color: aqua;
}
#bottone3 {
    font-size: large;
    background-color: white;
    color: aqua
}